h1{  
color: red;
font-size: 50px;
margin-left: 150px;

}

button {background-color: green;

}
input {border-color: purple;
    border-width: 5px;
    border-style: dotted;
    padding: 20px;
    margin: 20px;
}
img {
    display: block;
    margin: 0 auto;
border-color:red
}

p {
text-align: center;
font-style: italic;

}
